openapi: 3.0.0
info:
  title: oofc-core
  description: |-
    Opus Open Client - Core de gestão de consentimentos

    # Iniciação de Transação de Pagamentos Automáticos

    Para mais informações sobre o fluxo de criação de consentimento, consulte a documentação da Plataforma Opus Open Finance.
  version: 1.0.0
tags:
  - name: Opus Open Finance
    description: |-
      Endpoints de gestão de consentimentos
  - name: Pagamento Automático
    description: |-
      Endpoints de iniciação de pagamento relacionado ao consentimento. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Finance - API Payment Initiation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/198410569/SV+API+-+Pagamentos+Autom+ticos)).
  - name: Deeplinks
    description: |-
      Endpoints para obtenção das configurações de iOS Universal Links e Android App Links para que o aplicativo da Instituição receptora possa interceptar URLs.
servers:
  - url: https://open-finance-core.instituicao.com.br
paths:
  /.well-known/assetlinks.json:
    get:
      tags:
        - Deeplinks
      operationId: oofcDeeplinksGetAssetLinks
      description: Método para obtenção do conteúdo do arquivo assetlinks.json
      summary: Obter arquivo de configuração Android App Links
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetLinks'
  /.well-known/apple-app-site-association:
    get:
      tags:
        - Deeplinks
      operationId: oofcDeeplinksGetAppleAppSiteAssociation
      description: Método para obtenção do conteúdo do arquivo apple-app-site-association
      summary: Obter arquivo de configuração Apple App Site Association
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppleAppSiteAssociation'
  /opus-open-finance/automatic-payments/v1/recurring-consents:
    post:
      tags:
        - Opus Open Finance
      operationId: automaticPaymentsPostRecurringConsents
      description: Método para criação de consentimento de longa duração. Retorna um `recurringConsentId` no status AWAITING_AUTHORISATION.
      summary: Cria um consentimento para transações de pagamentos.
      externalDocs:
        description: Open Finance - API Payment Initiation
        url: https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/198410569/SV+API+-+Pagamentos+Autom+ticos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecurringConsentRequest'
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '201':
          description: Consentimento de pagamento criado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRecurringConsentResponse'
        '400':
          description: Erro enviado pela detentora de conta, respeitando o padrão definido pelo BACEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Erro enviado pela detentora de conta, respeitando o padrão definido pelo BACEN
          content:
            application/jwt:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /opus-open-finance/automatic-payments/v1/recurring-consents/{recurringConsentId}/authorisation-retry:
    post:
      tags:
        - Opus Open Finance
      operationId: oofcAutomaticPaymentsPostRecurringConsentsConsentIdAuthorisationRetry
      description: Método de geração de uma nova URL de autorização para o consentimento identificado por consentId
      summary: Gerar nova URL de autorização para o consentimento identificado por consentId.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetryPaymentConsentRequest'
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/recurringConsentId'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetryPaymentConsentResponse'
  /opus-open-finance/automatic-payments/v1/recurring-consents/{recurringConsentId}:
    get:
      operationId: oofcAutomaticPaymentsGetRecurringConsentsConsentId
      description: Método para buscar informações sobre um consentimento de longa duração.
      tags:
        - Opus Open Finance
      summary:  Busca informações de um consentimento.
      externalDocs:
        description: Open Finance - API Payment Initiation
        url: https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/198410569/SV+API+-+Pagamentos+Autom+ticos
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/recurringConsentId'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAutomaticPaymentRecurringConsentResponse'
        '400':
          description: Erro enviado pela detentora de conta, respeitando o padrão definido pelo BACEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Erro enviado pela detentora de conta, respeitando o padrão definido pelo BACEN
          content:
            application/jwt:
              schema:
                $ref: '#/components/schemas/ResponseError'
    patch:
      operationId: oofcAutomaticPaymentsPatchRecurringConsentsConsentId
      description: |
        Método para rejeitar, revogar ou editar um consentimento de longa duração:  
        1 - Informações sobre a revogação:
        - Caso bem sucedido, o consentimento vai para o status “REVOKED”;
        - Apenas consentimentos com status “AUTHORISED” podem ser revogados;
        - Pagamentos automáticos associados ao consentimento e que estão agendados para ocorrer até as 23:59h do próximo dia (a partir do dia de 
        solicitação da revogação) deverão ser mantidos. Pagamentos agendados para ocorrer após esse período devem ser cancelados.
        - Demais orientações referentes a revogação podem ser encontrados no header da API, tópico “Validações”, item 3.

        2 - Informações sobre a edição: 
        - Os campos que são passíveis de edição e suas regras podem ser encontrados através do [link](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/198410772);
        - A edição é possível apenas em casos de consentimento para Pix Automático (“automatic” escolhido no oneOf do objeto “recurringConfiguration”);
        - O envio do item "/data/creditors/name" atualizará o nome do recebedor em todos os elementos do array.

        3 - Informações sobre a rejeição:  
        - Caso haja necessidade de cancelamento de um consentimento ainda não autorizado, o iniciador poderá chamar o endpoint para mover o consentimento para REJECTED.
      tags:
        - Opus Open Finance
      summary:  Rejeita, revoga ou edita um consentimento.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRecurringConsentRequest'
      externalDocs:
        description: Open Finance - API Payment Initiation
        url: https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/198410569/SV+API+-+Pagamentos+Autom+ticos
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/recurringConsentId'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAutomaticPaymentRecurringConsentResponse'
        '400':
          description: Erro enviado pela detentora de conta, respeitando o padrão definido pelo BACEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Erro enviado pela detentora de conta, respeitando o padrão definido pelo BACEN
          content:
            application/jwt:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /opus-open-finance/participants:
    get:
      operationId: oofcGetParticipants
      description: Método para obtenção dos participantes registrados no diretório
      tags:
        - Opus Open Finance
      summary: Detalhamento dos participantes registrados no diretório, identificando suas APIs
      externalDocs:
        description: Open Finance - Funções regulatórias para mapeamentos OpenID e OAuth 2.0
        url: https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID2-ptbr.html#section-7.2
      parameters:
       - in: query
         name: role
         schema:
           type: string
         description: Filtra OrgDomainRoleClaims contendo role informado. Os tipos de role estão sujeitos a mudanças, verificar na externalDocs descrita.
       - in: query
         name: familyType
         schema:
           type: string
         description: Filtra ApiResources contendo familyType informado
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantsResponse'
        '502':
          description: Erro no Opus Open Client ao se comunicar com a API de participantes do BACEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a API de participantes do BACEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /proxy/open-banking/automatic-payments/v1/pix/recurring-payments:
    post:
      tags:
        - Pagamento Automático
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerRecurringConsentId'
      description: 'Método para criação de uma transação de pagamento. Retorna um recurringPaymentId.'
      requestBody:
        content:
          application/json:
            schema:
              description: 'Segue o padrão de requisição definidos na documentação oficial ([Open Finance - API Payment Initiation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/345178397/Informa+es+T+cnicas+-+SV+Pagamentos+Autom+ticos+-+v1.0.0)).'
              example: {}
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pelo BACEN
    get:
      tags:
        - Pagamento Automático
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerRecurringConsentId'
      description: |
        Método para buscar informações sobre um conjunto de pagamentos associados ao mesmo recurringConsentId. 
        Também é possível enviar uma data de início (startDate) e final (endDate), caso a busca seja por transações em uma determinada janela de tempo.
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pelo BACEN
  /proxy/open-banking/automatic-payments/v1/pix/recurring-payments/{recurringPaymentId}:
    get:
      tags:
        - Pagamento Automático
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerRecurringConsentId'
        - name: recurringPaymentId
          in: path
          description: Identificador da operação de pagamento
          schema:
            type: string
          required: true
          example: D730A10D6784379085391417F3EF657C1247B2B3645210DD97F739B33B349376
      description: Método de proxy para consultar uma iniciação de pagamento.
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pelo BACEN
    patch:
      tags:
        - Pagamento Automático
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerRecurringConsentId'
        - name: recurringPaymentId
          in: path
          description: Identificador da operação de pagamento
          schema:
            type: string
          required: true
          example: D730A10D6784379085391417F3EF657C1247B2B3645210DD97F739B33B349376
      description: Método de proxy para revogar uma iniciação de pagamento.
      requestBody:
        content:
          application/json:
            schema:
              description: 'Segue o padrão de requisição definidos na documentação oficial ([Open Finance - API Payment Initiation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/347079010/Informa+es+T+cnicas+-+SV+Pagamentos+-+v4.0.0)).'
              example: {}
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pelo BACEN
  /opus-open-finance/dcm:
    get:
      operationId: oofcGetDcm
      description: Método para obtenção dos dados de dcm de todas as brand clients da aplicação.
      tags:
        - Opus Open Finance
      summary: Detalhamento da situação de dcm dos brand clients.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DcmData'
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a API de participantes do BACEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      operationId: oofcPutDcm
      description: Método para atualização dos dados de dcm de todas as brand clients da aplicação.
      tags:
        - Opus Open Finance
      summary: Atualização dos dados de dcm dos brand clients.
      parameters:
        - $ref: '#/components/parameters/applicationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDcmRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DcmData'
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a API de participantes do BACEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /opus-open-finance/authorization-result:
    post:
      tags:
        - Opus Open Finance
      operationId: oofcAppToAppAuthorizationResult
      description: Método utilizado no fluxo App-To-App para que haja troca do authorization code retornado pelos tokens ou para que o tratamento de eventuais erros de autorização aconteça.
      summary: Enviar retorno do fluxo OIDC ao Opus TPP.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppToAppAuthorizationResultRequest'
      responses:
        '204':
          description: Sucesso no processo de autorização
        '422':
          description: Erro no processo de autorização
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppToAppAuthorizationErrorResponse'
components:
  schemas:
    PutDcmRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - version
          properties:
            version:
              type: string
              description: String da versao
              example: '1'
    RetryPaymentConsentRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - callbackApplicationUri
          properties:
            callbackApplicationUri:
              type: string
              format: uri
              maxLength: 2000
              description: URI de callback da aplicação após o processo de autenticação
              example: 'https://aplicativo.instituicao.com.br'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
    RetryPaymentConsentResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - redirectUrl
            - recurringConsentId
            - consent
          properties:
            redirectUrl:
              type: string
              format: uri
              maxLength: 2000
              description: URI de redirecionamento para o Authorisation Server da detentora de conta a fim de solicitar aprovação do consentimento
              example: 'https://authorisation-server.detentora.com.br'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            recurringConsentId:
              description: |
                O recurringConsentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.
                Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource
                Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN
                seja um identificador de recurso persistente e independente da localização.
                Considerando a string urn:bancoex:C1DD33123 como exemplo para consentId temos:
                - o namespace(urn)
                - o identificador associado ao namespace da instituição transnmissora (bancoex)
                - o identificador específico dentro do namespace (C1DD33123).
                Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).
              type: string
              pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
              maxLength: 256
              example: 'urn:bancoex:C1DD33123'
            consent:
              type: string
              description: Objeto de consentimento de pagamento retornado pela detentora de conta conforme padrão definido pelo BACEN - https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/198410569/SV+API+-+Pagamentos+Autom+ticos
    ParticipantsResponse:
      type: array
      items:
        $ref: '#/components/schemas/Participants'
    Participants:
      type: object
      required:
        - OpenIDDiscoveryDocument
        - CustomerFriendlyName
        - CustomerFriendlyLogoUri
        - Organisations
        - AuthorisationServerIds
        - ApiResources
      properties:
        OpenIDDiscoveryDocument:
          type: string
          format: uri
          maxLength: 2000
          description: URI de discovery do Authorisation Server da detentora de conta
          example: 'https://open-finance.detentora.com.br/.well-known/openid-configuration'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        CustomerFriendlyName:
          type: string
          maxLength: 255
          example: 'Detentora de Conta Open Finance'
        CustomerFriendlyLogoUri:
          type: string
          format: uri
          maxLength: 2000
          example: 'https://cdn.raidiam.io/directory-ui/brand/obbrazil/0.2.0.112/favicon.svg'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        CustomerFriendlyDescription:
          type: string
          maxLength: 255
          example: "Descrição da Detentora de Conta Open Finance"
        Organisations:
          type: array
          minLength: 1
          items:
            required:
              - OrganisationId
              - RegistrationNumber
            properties:
              OrganisationId:
                type: string
                description: Identificador unico da organização
                minLength: 1
                maxLength: 40
                example: 'ce31b1e1-71c5-4918-ba5b-3e8f6401c71f'
              RegisteredName:
                type: string
                maxLength: 256
                example: 'Detentora de Conta S.A.'
              RegistrationNumber:
                type: string
                maxLength: 256
                example: '60663556000104'
              ParentOrganisationReference:
                type: string
                maxLength: 65535
                example: '60701190000104'
        OrgDomainRoleClaims:
          type: array
          minLength: 1
          items:
            required:
              - Status
              - role
            properties:
                Status:
                  type: string
                  example: Active
                role:
                  $ref: '#/components/schemas/EnumRole'
        AuthorisationServerIds:
          type: array
          items:
            type: string
            maxLength: 40
            example: a9e62501-0b91-4af9-837d-c2d210736f28
        ApiResources:
          type: array
          items:
            properties:
              ApiFamilyType:
                type: string
                minLength: 1
                maxLength: 40
                example: payments-consents
              ApiVersion:
                type: number
                example: 1
    AssetLinks:
      type: array
      items:
        type: object
        properties:
          relation:
            type: array
            items:
              type: string
              example: 'delegate_permission/common.handle_all_urls'
          target:
            type: object
            properties:
              namespace:
                type: string
                example: 'android_app'
              package_name:
                type: string
                example: 'example.com'
              sha256_cert_fingerprints:
                type: array
                items:
                  type: string
                  example: 'A1:22:30:35:08:85:CC:4D:B6:A6:6C:02:4C:9F:3C:FE:07:CA:39:4C:66:30:C0:1F:00:FA:43:BE:3E:8E:94:3D'
    AppleAppSiteAssociation:
      type: object
      properties:
        applinks:
          type: object
          properties:
            apps:
              type: array
              items:
                type: object
            details:
              type: array
              items:
                type: object
                properties:
                  appID:
                    type: string
                    example: 'app.native.example'
                  paths:
                    type: array
                    items:
                      type: string
                      example: '/auth/handoff/*'
                  appIDs:
                    type: array
                    items:
                      type: string
                      example: 'app.native.example'
                  components:
                    type: array
                    items:
                      type: object
                      properties:
                        /:
                          type: string
                          example: '/auth/auth'
    AppToAppAuthorizationResultRequest:
      type: object
      properties:
        data:
          type: string
          example: 'code=LxSevzQNevQJM0yx4dhPo4oJHdYhAHG808ssYF2OlzC&id_token=eyJhbGciOiJQUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkVKU01fbW1UMV9qTTVieTM5aEttR01BSWNTM2lzQ3BPSlB5NVdnUmY3RUUifQ.eyJzdWIiOiJPRkMtNDkzOGI1ODIzZWQzNjMxNmQyZTVjYzY5M2YxNzljMTJjNTE0MjNlYTQ0NzJiYjgyZWI5YWYzNTE0NjEyYmI2MSIsImF1dGhfdGltZSI6MTY5NTY3NjE2MCwiYWNyIjoidXJuOmJyYXNpbDpvcGVuYmFua2luZzpsb2EyIiwibm9uY2UiOiIzNjE2YzM3NWFjMDZlODBjMTk3MjljMTkwOGEzYjkxMGQ3ODVlYzViZTkxOTZhN2YyZjllZjhmNDI1YmVlNWMxIiwiY19oYXNoIjoiRUVMd2FoU1FQUGt2WEZWZzJOZnRHUSIsInNfaGFzaCI6IndPN1hZbFB1c1FZMGtwOG1Ucmw3WVEiLCJhdWQiOiI1aUtkV3JCdlhFRjJHNWgwZ1RaMkMiLCJleHAiOjE2OTU2NzcwNjAsImlhdCI6MTY5NTY3NjE2MCwiaXNzIjoiaHR0cHM6Ly9vYmIucWEub29iLm9wdXMtc29mdHdhcmUuY29tLmJyLyJ9.SNBN_Buh_Y0iLuJGP4bgSHYnSKC_g76R0CpWEVRJua788RNoJpAzhAm6Ah6vOb2nD-H4Yq2MAjRy_Fkh7ruziBaJ4ebDexxQ2GAocBgrmQ2JwI-Q-1D4Xm1WuSS6OSm04Kk0CiV8MylidwxF_4XS40uWqxTJQcgG8dP4NC9-ty8S6a-6oGs0MekjOqm9mU0aFDwS8fRGZ8TU-8AT15hiMQ9sXsgNlfrci0MQi9Jb6t9o4c93mKCLhGypYswjs1MjVoXD3K6btZ2NSZYBQROtTK_tl9HkvW1uRVhNVZjzwDs1DJrvZpLP48es8YPxFtYAAKsuwiB8bza58MYKvvW81A&state=dXJuOmFtYXppbmdiYW5rOjdlOWYxMDhmLWE3MDktNDBlNi1iMzQ2LTNjNGZiMzBjNjcyNnwx'
    AppToAppAuthorizationErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: 'access_denied'
        error_description:
          type: string
          example: 'Error in user authentication'
    DcmData:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DcmStatus'
    DcmStatus:
      type: object
      required:
        - brandId
        - dcmVersion
        - dcmDate
      properties:
        brandId:
          type: string
          maxLength: 40
          example: a9e62501-0b91-4af9-837d-c2d210736f28
        dcmVersion:
          type: string
          maxLength: 20
          example: '2.0'
        dcmDate:
          description: 'Data e hora da realização do dcm da versão indicada, conforme especificação RFC-3339, formato UTC.'
          type: string
          maxLength: 20
          format: date-time
          example: '2023-07-07T09:30:00Z'
        status:
          type: string
          maxLength: 20
          example: 'success'
    GetAutomaticPaymentRecurringConsentResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - recurringConsentId
            - consent
          properties:
            recurringConsentId:
              description: |
                Identificador único do consentimento de longa duração criado para a iniciação de pagamento solicitada. Deverá ser um URN - Uniform Resource Name. Um URN, conforme definido na RFC8141 é um Uniform Resource Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN seja um identificador de recurso persistente e independente da localização. Considerando a string urn:bancoex:C1DD33123 como exemplo para recurringConsentId temos:
                - namespace(urn)
                - identificador associado ao namespace da instituição transmissora (bancoex)
                - identificador específico dentro do namespace (C1DD33123). Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na RFC8141.
              type: string
              pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
              maxLength: 256
              example: 'urn:bancoex:C1DD33123'
            consent:
              type: string
              description: Objeto de consentimento de pagamento retornado pela detentora de conta conforme padrão definido pelo BACEN - https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/198410569/SV+API+-+Pagamentos+Autom+ticos
    PatchAutomaticPaymentRecurringConsentResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - recurringConsentId
            - consent
          properties:
            recurringConsentId:
              description: |
                Identificador único do consentimento de longa duração criado para a iniciação de pagamento solicitada. Deverá ser um URN - Uniform Resource Name. Um URN, conforme definido na RFC8141 é um Uniform Resource Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN seja um identificador de recurso persistente e independente da localização. Considerando a string urn:bancoex:C1DD33123 como exemplo para recurringConsentId temos:
                - namespace(urn)
                - identificador associado ao namespace da instituição transmissora (bancoex)
                - identificador específico dentro do namespace (C1DD33123). Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na RFC8141.
              type: string
              pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
              maxLength: 256
              example: 'urn:bancoex:C1DD33123'
            consent:
              type: string
              description: Objeto de revogação do consentimento de pagamento retornado pela detentora de conta conforme padrão definido pelo BACEN - https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/198410569/SV+API+-+Pagamentos+Autom+ticos
    CreateRecurringConsentResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - redirectUrl
            - recurringConsentId
            - consent
          properties:
            redirectUrl:
              type: string
              format: uri
              maxLength: 2000
              description: URI de redirecionamento para o Authorisation Server da detentora de conta a fim de solicitar aprovação do consentimento
              example: 'https://authorisation-server.detentora.com.br'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            recurringConsentId:
              description: |
                O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.
                Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource
                Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN
                seja um identificador de recurso persistente e independente da localização.
                Considerando a string urn:bancoex:C1DD33123 como exemplo para consentId temos:
                - o namespace(urn)
                - o identificador associado ao namespace da instituição transnmissora (bancoex)
                - o identificador específico dentro do namespace (C1DD33123).
                Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).
              type: string
              pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
              maxLength: 256
              example: 'urn:bancoex:C1DD33123'
            consent:
              type: string
              description: Objeto de consentimento de pagamento retornado pela detentora de conta conforme padrão definido pelo BACEN - https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/198410569/SV+API+-+Pagamentos+Autom+ticos
    Meta:
      type: object
      description: Meta informações referente à API requisitada.
      required:
        - totalRecords
        - totalPages
        - requestDateTime
      properties:
        totalRecords:
          type: integer
          format: int32
          description: Número total de registros no resultado
          example: 1
        totalPages:
          type: integer
          format: int32
          description: Número total de páginas no resultado
          example: 1
        requestDateTime:
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          type: string
          maxLength: 20
          format: date-time
          example: '2021-05-21T08:30:00Z'
      additionalProperties: false
    CreateRecurringConsentRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: Objeto contendo as informações de consentimento para a iniciação de pagamento. Para os demais campos segue o padrão de requisição definidos na documentação oficial ([Open Finance - API Payment Initiation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/198410569/SV+API+-+Pagamentos+Autom+ticos)).
          required:
            - callbackApplicationUri
          properties:
            callbackApplicationUri:
              type: string
              format: uri
              maxLength: 2000
              description: URI de callback da aplicação após o processo de autenticação
              example: 'https://aplicativo.instituicao.com.br'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
    PatchRecurringConsentRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: Objeto contendo as informações de consentimento para a iniciação de pagamento. Para os campos segue o padrão de requisição definidos na documentação oficial ([Open Finance - API Payment Initiation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/198410569/SV+API+-+Pagamentos+Autom+ticos)).
    EnumRole:
      type: string
      maxLength: 5
      enum:
        - DADOS
        - PAGTO
        - CONTA
        - CCORR
      example: CONTA
      description: |
        Papel regulador da instituição. Os tipos de roles estão sujeitos a mudanças.
    UUID:
      format: uuid
      pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
      type: string
      example: '556392bd-b4c2-4cc0-9abe-f2c77a5c5d8f'
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                example: '4XX'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                example: 'Título legível por humanos deste erro específico'
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                example: 'Descrição legível por humanos deste erro específico'
                pattern: '[\w\W\s]*'
                maxLength: 2048
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
  parameters:
    applicationId:
      name: x-application-id
      in: header
      required: true
      description: Identificador do aplicativo que realiza a requisição
      schema:
        $ref: '#/components/schemas/UUID'
    authorisationServerId:
      name: x-authorisation-server-id
      required: true
      description: Identificador do Authorisation Server da trasmissora do consentimento, obtido através da consula da lista de participantes
      in: header
      schema:
        $ref: '#/components/schemas/UUID'
    headerRecurringConsentId:
      name: x-recurring-consent-id
      required: true
      in: header
      description: Identificador do consentimento a ser utilizado nesta operação, obtido na resposta de sua criação
      schema:
        type: string
        pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
        maxLength: 256
      example: 'urn:bancox:f865cd66-392a-420b-9ff0-1b6d7cc60ee0'
    recurringConsentId:
      name: recurringConsentId
      required: true
      in: path
      description: |
        O recurringConsentId é o identificador único do consentimento de longa duração e deverá ser um URN - Uniform Resource Name.
        Um URN, conforme definido na RFC8141 é um Uniform Resource Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN seja um identificador de recurso persistente e independe da localização.
        Considerando a string urn:bancoex:C1DD33123 como exemplo para recurringConsentId temos:
        - namespace(urn)
        - identificador associado ao namespace da instituição detentora (bancoex).
        - identificador específico dentro do namespace (C1DD33123).
        Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na RFC8141.
      schema:
        type: string
        pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
        maxLength: 256
      example: 'urn:bancox:f865cd66-392a-420b-9ff0-1b6d7cc60ee0'